html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  background-color: $white-color;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: $dark-grey;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg,
      $primary-color 0%,
      $secondary-color 100%);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg,
      $secondary-color 0% $primary-color 100%,
    );
}