// THEME COLORS
$primary-color: #ADEFD1FF;
$secondary-color: #00203FF0;
// #735DA5, #D3C5E5
$white-color: #242424;

$dark-grey: #242424;
$light-grey: #d2d2d2;

$dark-blue-text: #F1FFFA; // For Headings


// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;